<header>
    <nav>
        <a href="/profile" >Home</a>
    </nav>

    <div>
        <h1>{{name}}</h1>  
        <h2>{{handle}}</h2>
    </div>

    <div>
        <img class="profileimg" src={{image}} alt="profile pic">
    </div>

</header>

<main>
<div class= "page-content">
    <div id="bio">
        <h2>Bio</h2>
        <p>{{bio}}</p>
    </div>

    <div id="feed">
        {{#each feed}}
            <div id="post">
                <div class="imagecontainer">
                <img  class="postImage" src={{image}} alt="posters profile pic">
                <h3>{{name}}</h3>
                <p>{{post}}</p>
                </div>
            </div>
        {{/each}}
        <form action = "/profile/{{id}}" method = "post">
        <label for = "Comment">Write {{name}} a message!</label>
        <input type = "text" name = "Comment">
        <input type = "submit" value = "Fuse to feed">
        </form>

    </div>
</div>
</main>